.planet-info {
  margin-left:10px;
}

.transfer-input {
  width: 30px;
  max-width: 30px;
}

.transfer-button {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
}

.section {
  padding-top: 10px;
}

.build-button {
  padding: 10px;
}

.row-item {
  margin-left: 10px;
}

.loadout-list {
  margin-top: 10px;
}

.loadout-title {
  font-weight: bold;
}

.loadout-item {
  padding: 5px;
  margin-left: 10px;
}

.loadout-button {
  margin-right: 5px;
}